<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19688491796-ej0egdpi36qat3o227lhqschr4f4nhvp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19688491796-ej0egdpi36qat3o227lhqschr4f4nhvp</string>
	<key>API_KEY</key>
	<string>AIzaSyBxrc_lZSLLbV_OzTV52JFEOA8x3U9allk</string>
	<key>GCM_SENDER_ID</key>
	<string>19688491796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AtsushiHosaka.SPACE</string>
	<key>PROJECT_ID</key>
	<string>space-e3be6</string>
	<key>STORAGE_BUCKET</key>
	<string>space-e3be6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19688491796:ios:ceaf6ef8ab4e94303e1001</string>
</dict>
</plist>